<%- include ("_header.ejs"); %>

<div class="container">
    <div class="row" style="margin-top: 2%;">
  <div class="col-sm-6">
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title">Vechile Paper</h5>
        <a href="/vechilepaper" class="btn btn-primary">GO!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title">Vechile Parts</h5>
        <a href="vechile-parts.html" class="btn btn-primary">GO!</a>
      </div>
    </div>
  </div>
</div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 2%;">
  <div class="col-sm-6">
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title">Vechile Trips.</h5>
        <a href="#" class="btn btn-primary">GO!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title">Drivers List.</h5>
        <a href="#" class="btn btn-primary">GO!</a>
      </div>
    </div>
  </div>
</div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 2%;">
  <div class="col-sm-6">
    <div class="card border-primary ">
      <div class="card-body">
        <h5 class="card-title">Add Monthly Statement Of Client.</h5>
        <a href="#" class="btn btn-primary">GO!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-primary">
      <div class="card-body">
        <h5 class="card-title">Add Per Vechile</h5>
        <a href="#" class="btn btn-primary">GO!</a>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="container">
    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
  <div class="col-sm-12">
    <div class="card border-primary ">
      <div class="card-body">
        <h5 class="card-title">Vechile Tyres</h5>
        <a href="#" class="btn btn-primary">GO!</a>
      </div>
    </div>
  </div>
</div>
  </div>



<%- include ("_footer.ejs"); %>