<%- include ("_partial/_header.ejs"); %>

<div class="table-responsive container " style="margin-top: 2%;">
  <table id="myTable" class="display table table-bordered thead-dark" width="100%" >  
          <thead>  
            <tr>   
              <th>Available Vechile</th> 
            </tr>  
          </thead>  
          <tbody id="available-vechile">
            <% users.forEach(function(u){%>

              <td><a href="#" class="badge badge-pill badge-light"><%=u._id%></a></td>
           <% }) %>
            
            
          </tbody>  
        </table>  
      </div>


<%- include ("_partial/_footer.ejs"); %>