<%- include ("../_partial/_header.ejs"); %>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Vechile No.</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WB74AC7580</th>
        <td> <a href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Update</a> </td>
      </tr>
    </tbody>
  </table>

<%- include ("../_partial/_footer.ejs"); %>